html, body {	
	margin:0;
	padding:0;
}



#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4E6668;
}

li {
	float: left;
	width: 24.7%;
	border: solid black 2px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

a:link{
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}

#outer{ 
	position: static;
    width: 100%;
    height: 45%;
	background: #B89E4A;
	margin: 0;
	margin-top: 2%;
	padding-top: 2%;
	padding-bottom: 1%;
	border-bottom: solid black 2px;

 }
#inner{
	object-fit: fill;
	width: auto;
	height: 20%;
	padding: 2%;
}


#testimonial{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 10%;
}
#galleryPreview{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 12%;
}
#aboutPreview{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin-bottom: 0;
	padding: 0;
	padding-top: 10%;
	padding-bottom: 10%;
}
#consultation{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin-bottom: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 15%;
}
#footer{
	position: static;
	width: 100%;
	height: 40%;
	background: #4E6668;
	margin-bottom: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: solid black 2px;
}


#logoFooter{
	position: static;
	margin-right: 30%;
	margin-left: 65%;
	padding-top: 10%;
}


#logoBox{
	position: static;
	 width: 15%;
	 height: 20%;
	 margin-left: 33.5%;
	 margin-top: -10%;
	 object-fit: fill;
}

#coverPhoto{
	width: 100%;
	object-fit: fill;
}


#title{
	position: static;
	width: 20%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin-left: 40%;
	border: solid black 3px;
}

#leftTitle{
	box-shadow: 10px 10px 5px grey;
	position: static;
	width: 20%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin-left: 15%;
	border: solid black 3px;
}

#rightTitle{
	position: static;
	width: 20%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin-left: 70%;
	margin-right: 15%;
	border: solid black 3px;
}
	


#background{
	position: static;
	width: 10%;
	margin-top: 2%;
	margin-left: 50%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 15%;
	padding-right: 15%;
	background: #8B5644;
	border: solid black 5px;
}
#foreground{
	position: static;
	margin-top: -20%;
	margin-left: 52%;
	margin-right: 8%;
	padding: 3%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: white;
	border: solid black 2px;
}


#leftBackground{
	position: static;
	width: 10%;
	margin-top: 2%;
	margin-left: 26.3%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 11%;
	padding-right: 6%;
	background: #8B5644;
	border: solid black 5px;
}
#leftForeground{
	box-shadow: 10px 10px 5px grey;
	position: static;
	margin-top: -19%;
	margin-left: 30%;
	margin-right: 43%;
	padding: 3%;
	padding-top: 5.5%;
	padding-bottom: 10.5%;
	background: white;
	border: solid black 2px;
}
#rightForeground{
	box-shadow: 10px 10px 5px grey;
	position: static;
	margin-top: -20%;
	margin-left: 65%;
	margin-right: 10%;
	padding: 3%;
	padding-top: 13%;
	padding-bottom: 25%;
	background: white;
	border: solid black 2px;
}




#rightBackground{
	position: static;
	width: 10%;
	margin-top: 2%;
	margin-left: 49%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 26%;
	padding-right: 5%;
	background: #8B5644;
	border: solid black 5px;
}
	

#widebackground{
	position: static;
	width: 85%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	background: #8B5644;
	border: solid black 5px;
}
#wideforeground{
	position: static;
	margin: auto;
	padding: 10%;
	background: white;
	border: solid black 2px;
}


#consultationBox{
	position: static;
	width: 70%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background: #4E6668;
	border: solid black 5px;
}
#consultationButton{
	position: static;
	width: 40%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin: auto;
	margin-top: 10%;
	border: solid black 3px;
}

#footerInside{
	font-size: 100%;
	color: white;
	margin-left: 30.9%;
}



