html, body {	
	margin:0;
	padding:0;
}



#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4E6668;
}

li {
	float: left;
	width: 25%;
	border-bottom: solid black 2px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

a:link{
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}

#outer{ 
	position: static;
    width: 100%;
    height: 45%;
	background: #B89E4A;
	margin: 0;
	margin-top: 2%;
	padding-top: 2%;
	padding-bottom: 1%;
	border-bottom: solid black 2px;

 }
#inner{
	object-fit: fill;
	width: auto;
	height: 20%;
	padding: 2%;
}


#testimonial{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 10%;
}
#galleryPreview{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 12%;
}
#aboutPreview{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin-bottom: 0;
	padding: 0;
	padding-top: 10%;
}
#consultation{
	position: static;
	width: 100%;
	height: 60%;
	background: #E9E0D9;
	margin-bottom: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 15%;
}
#footer{
	position: static;
	width: 100%;
	height: 40%;
	background: #4E6668;
	margin-bottom: 0;
	padding: 0;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: solid black 2px;
}


#logoFooter{
	position: static;
	margin-right: 30%;
	margin-left: 65%;
	padding-top: 10%;
}


#logoBox{
	position: static;
	 width: 15%;
	 height: 20%;
	 margin-left: 33.5%;
	 margin-top: -10%;
	 object-fit: fill;
}

#coverPhoto{
	width: 100%;
	object-fit: fill;
}


#title{
	position: static;
	width: 20%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin-left: 40%;
	border: solid black 3px;
}

#leftTitle{
	box-shadow: 10px 10px 5px grey;
	position: static;
	width: 20%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin-left: 15%;
	border: solid black 2px;
}

#rightTitle{
	box-shadow: 10px 10px 5px grey;
	position: static;
	width: 20%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin-left: 70%;
	margin-right: 15%;
	border: solid black 3px;
}
	


#background{
	position: static;
	width: 10%;
	margin-top: 2%;
	margin-left: 50%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 15%;
	padding-right: 15%;
	background: #8B5644;
	border: solid black 5px;
}
#foreground{
	position: static;
	margin-top: -20%;
	margin-left: 52%;
	margin-right: 8%;
	padding: 3%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: white;
	border: solid black 2px;
}


#leftBackground{
	position: static;
	width: 10%;
	margin-top: 2%;
	margin-left: 20%;
	padding-top:6%;
	padding-bottom:6%;
	padding-left: 11%;
	padding-right: 6%;
	background: #8B5644;
	border: solid black 2px;
}
#leftForeground{
	box-shadow: 10px 10px 5px grey;
	position: static;
	margin-top: -10.5%;
	margin-left: 23%;
	margin-right: 49%;
	padding: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	background: white;
	border: solid black 2px;
}
#rightForeground{
	position: static;
	margin-top: -20%;
	margin-left: 65%;
	margin-right: 10%;
	padding: 3%;
	padding-top: 13%;
	padding-bottom: 25%;
	background: white;
	border: solid black 2px;
}


#rightDescription{
	box-shadow: 10px 10px 5px grey;
	position: static;
	margin-top: -10.5%;
	margin-left: 52%;
	margin-right: 6.5%;
	margin-bottom: 5%;
	padding: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	background: white;
	border: solid black 2px;

} 


#rightBackground{
	position: static;
	width: 10%;
	margin-top: 2%;
	margin-left: 49%;
	padding-top: 6%;
	padding-bottom: 6%;
	padding-left: 26%;
	padding-right: 5%;
	background: #8B5644;
	border: solid black 2px;
}
	

#widebackground{
	position: static;
	width: 85%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	background: #8B5644;
	border: solid black 2px;
}
#wideforeground{
	position: static;
	margin: auto;
	padding: 10%;
	background: white;
	border: solid black 2px;
}


#consultationBox{
	position: static;
	width: 70%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background: #4E6668;
	border: solid black 2px;
}
#consultationButton{
	position: static;
	width: 40%;
	text-align: center;
	color: black;
	background: #4E6668;
	margin: auto;
	margin-top: 10%;
	border: solid black 2px;
}

#footerInside{
	font-size: 100%;
	color: white;
	margin-left: 30.9%;
}

img {
	max-width: 100%;
    max-height: 100%;
}


.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 50%px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}

.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:70%;
	width: 90%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 10px 22px 10px 22px;
	background: #8B5644;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #8B5644;
	color: #fff;